In [116]:
import pandas as pd
import numpy as np
import seaborn as sns

In [117]:
df = pd.read_csv(r"D:\#DATA Science\Feature Engineering\titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [118]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [119]:
df.drop(columns=['PassengerId','Ticket', 'Fare', 'Cabin','Name'],inplace=True)

In [120]:
df

     Survived  Pclass     Sex   Age  SibSp  Parch Embarked
0           0       3    male  34.5      0      0        Q
1           1       3  female  47.0      1      0        S
2           0       2    male  62.0      0      0        Q
3           0       3    male  27.0      0      0        S
4           1       3  female  22.0      1      1        S
..        ...     ...     ...   ...    ...    ...      ...
413         0       3    male   NaN      0      0        S
414         1       1  female  39.0      0      0        C
415         0       3    male  38.5      0      0        S
416         0       3    male   NaN      0      0        S
417         0       3    male   NaN      1      1        C

[418 rows x 7 columns]

In [121]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  418 non-null    int64
 1   Pclass    418 non-null    int64
 2   Sex       418 non-null    object
 3   Age       332 non-null    float64
 4   SibSp     418 non-null    int64
 5   Parch     418 non-null    int64
 6   Embarked  418 non-null    object
dtypes: float64(1), int64(4), object(2)
memory usage: 23.0+ KB

In [122]:
df['Age'].isnull().sum()

86

In [123]:
from sklearn.model_selection import train_test_split
trainx, testx, trainy, testy = train_test_split(df.drop(columns=['Survived']), df['Survived'], test_size=0.2, random_state=41)
trainx.shape

(334, 6)

In [124]:
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

transformer = ColumnTransformer(transformers=[
    ('trf1', SimpleImputer(), ['Age']),
    ('trf2', OrdinalEncoder(categories=[['Q','S','C']]),['Embarked']),
    ('trf3', OneHotEncoder(sparse=False),['Sex'],)
], remainder= 'passthrough')

In [125]:
transformer.fit(trainx)

c:\Users\DELL\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

ColumnTransformer(remainder='passthrough',
                  transformers=[('trf1', SimpleImputer(), ['Age']),
                                ('trf2',
                                 OrdinalEncoder(categories=[['Q', 'S', 'C']]),
                                 ['Embarked']),
                                ('trf3', OneHotEncoder(sparse=False), ['Sex'])])

In [126]:
X_train_transformed = transformer.transform(trainx)
X_test_transformed = transformer.transform(testx)

In [127]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier()

In [128]:
clf.fit(X_train_transformed, trainy)

DecisionTreeClassifier()

In [129]:
ypred = clf.predict(X_test_transformed)

In [130]:
from sklearn.metrics import accuracy_score
accuracy_score(testy, ypred)

1.0