In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("D:\#DATA Science\Feature Engineering\\titanic.csv")
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [3]:
data = data[["Age","Pclass","Fare","Survived"]]
data

      Age  Pclass      Fare  Survived
0    34.5       3    7.8292         0
1    47.0       3    7.0000         1
2    62.0       2    9.6875         0
3    27.0       3    8.6625         0
4    22.0       3   12.2875         1
..    ...     ...       ...       ...
413   NaN       3    8.0500         0
414  39.0       1  108.9000         1
415  38.5       3    7.2500         0
416   NaN       3    8.0500         0
417   NaN       3   22.3583         0

[418 rows x 4 columns]

In [4]:
X = data.iloc[:,0:3]
y = data.iloc[:,-1]

In [5]:
data.isnull().mean()

Age         0.205742
Pclass      0.000000
Fare        0.002392
Survived    0.000000
dtype: float64

In [6]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(X,y ,test_size=0.2, random_state=41)

In [7]:
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
imputer1 = SimpleImputer(strategy='mean')
imputer2 = SimpleImputer(strategy='median')

In [10]:
trf = ColumnTransformer([
    ('transform1', imputer1, ["Age"]),
    ('transform2', imputer2, ["Fare"])

] ,remainder='passthrough')

In [11]:
trf.fit(xtrain)

ColumnTransformer(remainder='passthrough',
                  transformers=[('transform1', SimpleImputer(), ['Age']),
                                ('transform2', SimpleImputer(strategy='median'),
                                 ['Fare'])])

In [12]:
xtrain = trf.fit_transform(xtrain)
xtest = trf.fit_transform(xtest)

In [15]:
xtrain

array([[17.        ,  7.8958    ,  3.        ],
       [21.        ,  7.7958    ,  3.        ],
       [30.43083019,  7.55      ,  3.        ],
       ...,
       [25.        ,  7.2292    ,  3.        ],
       [ 6.        , 15.2458    ,  3.        ],
       [24.        ,  7.25      ,  3.        ]])